.page-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    background-color: #DEEAF0;
}
.mat-toolbar {
    min-height: 85px !important; 
}

.toolbar{
    /*background-color: #274472;*/
    /*background-color: #263f66;*/
    background-color: #161616;
    height: 85px !important;
    min-height: 85px !important; 
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tb-item-def{
    color: #F5F9F7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.tb-item-sel{
    color: #FF7A18;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 10px solid #FF7A18;
}
.tb-item-sel span{
    padding-top: 10px;
}

.tb-item-sel:hover{
    background-color: #292929;
}


.tb-item-def:hover{
    color: #FF7A18;
    background-color: #292929;
}


.body-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    /*width: 100%;*/
}

.reference-container{
    background-color:#DEEAF0;
    flex-grow: 1;
}

.array-container{
    background-color: #DEEAF0;
    flex-grow: 2;
    /*min-width: 700px;*/
}

.config-container{
    /*background-color: #1F1A25;*/
    /*background-color: #272727;*/
    /*background-image: linear-gradient(to bottom, #1F1A25 250%, #1F1A05 74%);*/
    background-image: linear-gradient(to bottom, #161616 250%, #272727 74%);
    /*min-width: 350px;*/
    flex-grow: 2;
    order:2;
}


.arr-ref{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.controller-buttons-section{
    display: flex;
    direction: row;
    justify-content: center;
    flex: 2;
}
.run-container-wrapper{
    display: flex;
    justify-content: center;
}

.next-step-container-wrapper{
    display: flex;
    justify-content: center;
    margin-right: 6px;
}

.disabled-next-step{
    font-size: 18px;
    width: 150px;
    height: 50px;
    color:#FEF7FF;
    pointer-events: none;
    background-color: grey;
    border-color: rgb(168, 168, 168);
    border-style:solid;
    border-width:1px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-step-wrapper{
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-color: #308D46;
    background-color: #308D46;
    border-style:solid;
    border-width:1px;
    border-radius: 6px;
    color:#FEF7FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

.next-step-wrapper:hover{
    background-color: #236432;
    box-shadow: 1px 1px 1px 1px #38a552;
}

.run-wrapper{
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-color: #C44651;
    background-color: #C44651;
    border-style:solid;
    border-width:1px;
    border-radius: 6px;
    color:#FEF7FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

.run-wrapper:hover{
    background-color: rgb(165, 56, 65);
    box-shadow: 1px 1px 1px 1px #d84f5b;
}

.array-section-container{
    display: flex;
    flex-direction: column;
}

.program-controller-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DEEAF0;
    min-height: 80px;
    width: 100%;
}

.modal-container{
    position: absolute;
    z-index: 1010;
}
.modal-background{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 1005;
}

.timer{
    display: flex;
    flex-direction: row;
    width:200px;
    justify-content: center;
    align-content: center;
    font-size:26px;
    padding-top: 7px;
}

.time-text{
    padding-top: 10px;
    padding-left: 8px;
    width: 130px;
}

.modal-overlay{
    z-index: 1000;
}

@keyframes blinker {  
    from { background-color: #C44651;; }
    to { background-color: #e04c58;
         opacity: 66%; }
  }

.blink {
    animation: blinker 1.2s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

.dot{
    height: 40px;
    width: 40px;
    border-radius: 50% 50% 50% 50%;
    margin-left: 10px;
    background-color: #C44651;
}

.aux-displ-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    background-color: #DEEAF0;
    height: 260px;
    width: 100%;
    padding-left: 45px;
}

.aux-container{
    background-color: #DEEAF0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    padding-top: 10px;
}

.aux-var{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-size: 26px;
    width: 43px;
    border: 1px solid black;
}

.aux-var span{
    padding-top: 3px;
    padding-bottom: 3px;
}

.var-name{
    padding-top: 4px;
    padding-right: 4px;
    font-size: 26px;
    color:black
}

.icon{
    color: #00BFEA;
}